<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consultar Reservas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-3">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
    <div class="header-container">
        <nav class="navbar"> 
            <div class="header">
                <img src="{{ url_for('static', filename='image.png') }}" alt="" class="logo">
                <h1 class="nombre-logo">Parrilla 51</h1>
            </div>
            <div class="menu">
           
            </div>
            <a href="{{ url_for('auth.logout') }}" class="btn">Salir</a>
        </nav>
    </div>

    <main>
        <h2>Listado de Reservas</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Personas</th>
                    <th>Mesa</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for r in reservas %}
                <tr>
                    <td>{{ r.id_reserva }}</td>
                    <td>{{ r.nombre }}</td>
                    <td>{{ r.telefono }}</td>
                    <td>{{ r.fecha }}</td>
                    <td>{{ r.hora }}</td>
                    <td>{{ r.cant_personas }}</td>
                    <td>{{ r.cod_mesa }}</td>
                    <td>
                        {% if r.estado == "aceptada" %}
                            <span class="estado aceptada">Aceptada</span>
                        {% elif r.estado == "cancelada" %}
                            <span class="estado cancelada">Cancelada</span>
                        {% else %}
                            <span class="estado">{{ r.estado }}</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-center">
            <a href="{{ url_for('admin.admin_dashboard') }}" class="volver">⬅️ Volver al Dashboard</a>
        </div>
    </main>

    <footer>
        © 2025 - Panel de Administración
    </footer>
</body>
</html>