<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Parrilla 51{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-3">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
  <!-- NAVBAR -->
  <nav class="navbar">
    <div class="logo">
      <img src="{{ url_for('static', filename='img/logooo.png') }}" alt="Logo">
      <span>Parrilla 51</span>
    </div>

    <ul class="nav-links">
   
    </ul>
  </nav>

  <!-- CONTENIDO -->
  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer>
    © 2025 Parrilla 51 - Todos los derechos reservados
  </footer>
</body>
</html>