<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Mesas Parrilla 51</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-3">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
  <nav class="navbar">
    <div class="logo">
      <img src="{{ url_for('static', filename='img/logooo.png') }}" alt="Logo">
      <span>Parrilla 51</span>
    </div>
    <ul class="nav-links">
      
    </ul>
  </nav>

  <div class="container">
    <div class="text-center">
      <button class="btn btn-primary">Zona 1</button>
    </div>

    <div class="acciones" id="mesasGrid"></div>

    <!-- BOTÓN VOLVER -->
    <div class="volver-wrap">
      <a href="{{ url_for('empleado.empleado_dashboard') }}" class="volver">← Volver al Dashboard</a>
    </div>
  </div>

  <footer>
    © 2025 Parrilla 51 - Todos los derechos reservados
  </footer>

  <script>
    const mesasGrid = document.getElementById('mesasGrid');

    for (let i = 1; i <= 21; i++) {
      const mesa = document.createElement('div');
      mesa.className = 'card';
      mesa.style.cursor = 'pointer';
      mesa.textContent = i;

      mesa.onclick = () => {
        window.location.href = `/orden/${i}`;
      };

      mesasGrid.appendChild(mesa);
    }
  </script>

</body>
</html>